body {
  margin:0px;
  padding:0px;

  text-align:left;
  background:#EDEDED none repeat scroll %0 %0;
  font-family:微软雅黑;
}
#bottom a:link {
	color:#000;
	text-decoration:none;
}		/* 未被访问的链接 */
	
#bottom a:hover{
	text-decoration:underline;
}
#header a:link {
	color:#fff;
	text-decoration:none;
}		/* 未被访问的链接 */
	
#header a:hover{
	text-decoration:none;
}
#header a:visited{
	color:#fff;
	text-decoration:none;
}

#logo{
	height:35px;
	width:%100;
	margin:25px 0px 0px 10%;
	border-radius:19px;
	float:left;
}
#header{
	position:relative;
	height:720px;
	width:auto;
}
.title{
	position:relative;
	height:80px;
	background-color:#484848;
	
}
.title-nav{
	float:right;
	margin-right:18%;
	margin-top:34px;
	background-color:#484848;
	color:#fff;
}
.title-nav li{
	display:inline;
	padding:34px 28px 27px 20px;
	margin-right:-5px;
	font-size:14px;

}
.title-nav .supply{
	display:inline;
	padding:34px 28px 27px 20px;
	margin-right:-5px;
	font-size:14px;

}
.title-nav li:hover{
	background-color:#3C3939;
	text-decoration:none;
}
.title-left-nav{
margin:0;
}

.title-nav .login:hover{
	background-color:#484848;
}
.title-nav-menu{
	position:absolute;
	visibility: visible;
	top:80px;
	right:20%;
	width:100px;
/* 	height:12px; */
	display:none;
	background:#fff;
	z-index:111;
	
}
.title-nav-menu li{
	text-align:center;
	display:block;
	padding:0;
	background-color:#484848;
	
}
.title-nav .first{
	background-color:#3C3939;
	font-size:16px;
}
.login{
	position:absolute;
	display:inline;
	top:40%;
	right:3%;
	font-size:12px;
	color:#C0C0C0;
	margin-left:80px;
	padding:0 10px;
}

#title-image{
	width:100%;
	height:490px;
}
.nivo-caption{
		width:auto;
		height:100%;
}
.first_caption{
	position:absolute;
	top:230px;
	height:115px;
	
}
.caption{
	width:750px;
	height:100%;
	border-right:#F65529 solid 5px;
	background-color:#000;
	color:#fff;
	text-align:center;
	opacity:0.5;
}
.caption h6{
	margin:0;
	padding-top:35px;
}
.caption p{
	margin:0;
	font-size:14px;
	padding-bottom:20px;
}

#title-image img{
	margin:0 0;
	width:1364px;
	height:490px;
}

.nivo-controlNav{
	position:relative;
	float:right;
	height:30px;
	width:180px;
	margin:-45px 220px 0 0;
	background-color:#292929;
}
.nivo-prevNav{
	margin-left:60px;
	padding:5px;
	background:url(../image/home/left-ar.png)  no-repeat left;

}
.nivo-prevNav span{
	opacity:0;
}
.nivo-nextNav{

	padding:5px 5px 5px 20px;
	background:url(../image/home/right-ar.png) no-repeat right;
}
.nivo-nextNav span{
	opacity:0;
}
.nivo-nav{
	margin:0 auto;
	height:34px;
}
.nivo-nav li{
	display:inline;
	padding:0px 6px;

}
.nivo-nav li button{
	margin-top:5px;
	background:url(../image/home/not-activeb.png);
	background-size:cover;
	height:20px;
	border-radius:5px;
}

.control{
	position: relative;
	cursor: pointer;
	margin:-4px auto 0px;
	height:50px;
	width:auto;
	background-color:#363535;
}
.control .nav-wrapper{
	width:960px;
	height:33px;
	margin:0 auto;
	padding:10px 0;
}
.big-quotes{
	position:relative;
	background:url("../image/home/quotes-bg.png") repeat-x;
	padding-top:0px;
	color:#848484;
	height:125px;
	width:100%;
	margin-top:-24px;
	font-size:18px;
	font-family:;
	text-align:center;
	z-index:0;
}

.container{
		position:relative;
		max-width:960px;
		margin:0 auto;
		background:#f5f5f5 url(../image/home/colorzigzag.png) no-repeat top;
		
}
.container .services-blocks{
	position:relative;
	height:295px;
	width:100%;
	margin-top:-30px;
	position:relative;
	text-align:center;
	z-index:9999;
	
}
.services-blocks .grid{
	width:24%;
	float:left;
	margin-top:60px;
}
.grid img{
	border-radius:65px;
}
.grid img:hover{
	opacity:0.5;
	cursor:pointer;
}
.big-heading{
	width:100%;
	text-align:center;
	font-size:18px;
	color:#848484;
	margin-top:30px;
	margin-bottom:30px;
}
.setion-head{
	width:60px;
	margin:0 auto;
	text-align:center;
}
.recent-project{
	width:940px;
	margin:0 auto;
}

.grid_4 {
	position:relative;
	float:left;
	margin:30px 1%;
	width:31.333%;
	font-size:14px;
	text-align:center;
}
.grid_4 img{
	height:195px;
	width:100%;
}
.mark{
	position:absolute;
	top:0;
	left:0;
	transition:opacity 1s;
	width:100%;
	height:195px;
	background:#000;
	opacity:0;
}
.block{
	position:absolute;
	top:0;
	left:38%;
	width:70px;
	height:70px;
	background:url(../image/home/zoom.png);
	opacity:0;
}
.grid_4 .mark:hover{
	opacity:0.5;
	cursor:pointer;
}
.setion-bottom{
	width:960px;
	background:#484848;
	
}

#bottom{
	position:relative;
	height:230px;
	width:100%;
	margin-top:20px;
	background-color:#E8E8E8;
}
#bottom ul {
	padding-top:70px;
	float:right;
}
#bottom ul li{
	display:inline;
	margin-right:15px;
	
}
.copyright{
	font-size:14px;
	color:#B8B8B8;
	float:right;
	clear:both;
}

@media all and (max-width: 500px) {

.grid_4 {
    float: none;
    margin: 30px auto;
    width: 52%;
	height:300px;
    font-size: 14px;
    text-align: center;
}



}

